<% child_index = (child_index or f.object.id) %>
<div id='<%= child_index %>' class="embedded-child">
<%= link_to f.object.title, f.object %>
<fieldset>
  <%= render :partial => 'fields_new', :locals => {f: f} %>
  <%= render :partial => 'fields_edit', :locals => {f: f} %>
</fieldset>
</div>