
<div class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="container-fluid nav-collapse">
        <ul class="breadcrumb">
          <li><%= link_to "Contents", "/contents"  %></li>
          <% @content.try(:ancestry).try(:each) do |crumb| %>
            <li>/ <%= link_to crumb %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
</div>
