<div id='<%= f.object.id %>' class="resource">
<%= render partial: 'resource_types', locals: {f: f} %>
<div class="resource-fields">
  <%= resource_edit_view(f.object.content_type, f) %>
</div>
</div>