<div class="control-group">
  <div class="controls">
    <ol>
    <% show_children.try :each do |child| %>
    <li>
      <%= link_to child.title, contents_path + '/' + child.ancestry.join('/') %>
    </li>
    <% end %>
    </ol>
  </div>
</div>
